<section class="container">
<form class="formulario">
    <h2 class="formulario__titulo">Novo Produto</h2>
    <div class="form-field">
      <label class="form-field__label" for="codigo">Codigo:</label>
      <input class="form-field__label" id="codigo" type="text"/>
    </div>
    <div  class="form-field">
      <label class="form-field__label" for="nome">Nome:</label>
      <input class="form-field__label" id="nome" type="text"/>
    </div>
    <div  class="form-field">
      <label class="form-field__label" for="preco">Preco:</label>
      <input class="form-field__label" id="preco" type="number"/>
    </div>
    <div  class="form-field">
      <label class="form-field__label" for="status">Status:</label>
      <input class="form-field__label" id="status" type="text"/>
    </div>
    <div class="botao-wrapper">
      <button class="botao">Salvar</button>
    </div>
    
  </form>
</section>